

$main-rose: #ffc7c7;
$lite-rose: #ffe8e8;
$dark: #333333;
$ice: #f6f6f6;
$white: #fff;
$rose: #f41f67;

$main-font: 'Open Sans';
$heading-font: 'Courgette';

$heading-text-size: 60px;
$title-text-size: 18px;
$paragraph-text-size: 14px;
$small-text-size: 12px;

$title-margin: 40px 10px;

$tablet-max: 1024px;
$tablet: 776px;
$mobile: 420px;
$small: 360px;
